@import url(https://fonts.googleapis.com/css?family=Outfit&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: hsl(0, 0%, 100%);
    max-width: 220px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.first-text{
    font-size: 15px;
    font-family: 'outfit';
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    justify-content: center;
    align-items: center;
 
}
.second-text {
    font-size: 15px;
    font-family: 'outfit';
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center; 
    margin: 10px;
    justify-content: center;
    align-items: center;

}
img {
    position: relative;
    margin: 10px;
}

.attribution{
    text-align: center;
    margin-top: 30px;
}
